<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Emsidi</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Cabang Emsidi</h2>
                <br>
                <form th:action="@{/cabang/add}" th:object="${cabang}" method="POST">
                    Nama Cabang : <br>
                    <input required class="form-control" th:field="*{namaCabang}" type="text" name="namaCabang"/>
                    <br><br>

                    Alamat : <br>
                    <input required class="form-control" th:field="*{alamatCabang}" type="text" name="alamatCabang"/>
                    <br><br>

                    Nomor Telepon : <br>
                    <input required class="form-control" th:field="*{noTeleponCabang}" type="text" name="noTeleponCabang"/>
                    <br><br>

                    Waktu Buka : <br>
                    <input required class="form-control" th:field="*{waktuBuka}" type="time" name="waktuBuka" />
                    <br><br>

                    Waktu Tutup : <br>
                    <input required class="form-control" th:field="*{waktuTutup}" type="time" name="waktuTutup" />
                    <br><br>

                    <table class="table" sec:authorize="hasAuthority('Manajer')">
                        <thead>
                        <th>Nama Menu</th>
                        <th>
                            <button class="btn btn-primary" type="submit" name="addRow">Tambah Row</button>
                        </th>
                        </thead>
                        <tbody>
                        <tr th:each="menu, iterationStatus : *{listMenu}">
                            <td>
                                <select name="noMenu" th:field="*{listMenu[__${iterationStatus.index}__].noMenu}"
                                        class="form-control">
                                    <div th:each="menuEx, iterationStatus2 : ${listMenuExisting}">
                                        <option th:value="${menuEx.noMenu}" th:text="${menuEx.namaMenu}"></option>
                                    </div>
                                </select>
                            </td>
                            <td>
                                <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit"
                                        name="deleteRow">Hapus</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary" type="submit" name="save">Submit</button>
                    <a class="btn btn-primary" href="/">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>