<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Emsidi</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
            crossorigin="anonymous"></script>
    <script
            src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Update Password</h2>
                <br>

                <form th:action="@{/user/update/password}" th:object="${password}" method="POST">
                    Password Lama : <br>
                    <input class="form-control" type="password" name="prevPassword" />
                    <br><br>
                    Password Baru : <br>
                    <input class="form-control" type="password" name="newPassword" />
                    <br><br>
                    Confirm Password : <br>
                    <input class="form-control" type="password" name="confirmPassword" />
                    <br><br>
                    <button class="btn btn-primary" type="submit" name="save">Submit</button>
                    <a class="btn btn-primary" href="/">Cancel</a>
                </form>
                <div class="justify-content-center" th:switch="${message}">
                    <div th:case="'password tidak sesuai'">
                        <p> Password tidak sesuai dengan format </p>
                    </div>
                     <div th:case="'password invalid'">
                         <p> Password invalid </p>
                     </div>
                    <div th:case="'password tidak sama'">
                        <p> Password tidak sama </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>